@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mt-4 bi-house">Inicio</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Inicio</li>
</ol>
<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card bg-gradient bg-black shadow-lg text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Ventas</h6>
                        <h6 id="totalventa">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-shopping-bag fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card bg-gradient bg-dark shadow-lg text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Clientes</h6>
                        <h6 id="totalcliente">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-user fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card bg-gradient bg-secondary shadow-lg text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Productos</h6>
                        <h6 id="totalproducto">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-boxes fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-tags me-1"></i>
        Historial de ventas
    </div>
    <div class="card-body">
        <form>
            <div class="row align-items-end">
                <div class="col-sm-2 mb-2">
                    <label class="form-label">Fecha Inicio:</label>
                    <input type="text" name="fechainicio" id="txtfechainicio" value="" class="form-control" placeholder="Seleccionar fecha Inicio" />
                </div>
                <div class="col-sm-2 mb-2">
                    <label class="form-label">Fecha Fin:</label>
                    <input type="text" name="fechafin" id="txtfechafin" value="" class="form-control" placeholder="Seleccionar fecha Fin" />
                </div>
                <div class="col-sm-2 mb-2">
                    <label class="form-label">ID Transacción:</label>
                    <input type="search" name="idtransaccion" id="txtidtransaccion" value="" class="form-control" placeholder="Ingrese ID Transacción" />
                </div>
                <div class="col-sm-3 mb-2 d-grid">
                    <button type="button" id="btnbuscar" class="btn btn-dark form-control"><i class="bi bi-search"></i> Buscar</button>
                </div>
                <div class="col-sm-3 mb-2 d-grid">
                    <button type="submit" id="btnbuscar" class="btn btn-success form-control"><i class="bi bi-filetype-csv"></i> Exportar</button>
                </div>
            </div>
        </form>
        <hr style="color:#000; opacity: 0.5;">
        <table id="tabla" class="table">
            <thead class="table-dark">
                <tr>
                    <th>Fecha Venta</th>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>ID Transacción</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        flatpickr("#txtfechainicio", {
            locale: "es",
            defaultDate: "today",
            dateFormat: "d/m/Y",
            allowInput: true
        });

        flatpickr("#txtfechafin", {
            locale: "es",
            defaultDate: "today",
            dateFormat: "d/m/Y",
            allowInput: true
        });
         $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("VistaDashboard", "Home")',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var objeto = data.data;
					$("#totalventa").text(objeto.totalVenta);
					$("#totalcliente").text(objeto.totalCliente);
					$("#totalproducto").text(objeto.totalProducto);
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        });
    </script>
}
