
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReestablecerClave</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body class="fondo">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="d-flex justify-content-center align-items-center vh-100">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="d-flex justify-content-center align-items-center mt-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-lock" viewBox="0 0 16 16">
                                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m0 5.996V14H3s-1 0-1-1 1-4 6-4q.845.002 1.544.107a4.5 4.5 0 0 0-.803.918A11 11 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664zM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1" />
                                    </svg>
                                </div>
                                <h3 class="text-center font-weight-light my-4">RECUPERAR CONTRASEÑA</h3>
                                <div class="card-body">
                                    <div class="mb-4 text-center">
                                        <span class="text-secondary fs-12">Ingrese su dirección de correo electrónico para poder enviarle una clave de acceso.</span>
                                    </div>
                                    <form action="@Url.Action("ReestablecerClave", "Acceso")" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="correo" type="email" required />
                                            <label for="inputEmail">Email</label>
                                        </div>
                                        @{
                                            if (ViewBag.ErrorMessage != null)
                                            {
                                                <div class="form-floating mb-3">
                                                    <div class="alert alert-danger text-center" role="alert">
                                                        @ViewBag.ErrorMessage
                                                    </div>
                                                </div>
                                          }
                                         }
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="fw-semibold text-decoration-none" href="@Url.Action("Index", "Acceso")">Volver al Login</a>
                                            <button class="btn btn-dark bg-gradient shadow-sm" type="submit">RECUPERAR CONTRASEÑA</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
