@model List<Venta>

@{
    ViewData["Title"] = "Mis Compras";
}

<div class="container mt-4">

    <h4>Mis Compras</h4>

    <table id="tablaCompras" class="table table-bordered">

        <thead>
            <tr>
                <th>Transacción</th>
                <th>Productos</th>
                <th>Total</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody></tbody>

    </table>

</div>

<!-- Modal para mostrar el detalle de la compra -->
<div class="modal fade" id="modalDetalle">

    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="text-center fw-bold" id="idVenta"></h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <div class="d-flex justify-content-between">
                    <div class="me-2 fw-semibold">Transacción: </div>
                    <div class="text-break text-secondary" id="transaccionVenta"></div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="me-2 fw-semibold">Fecha: </div>
                    <div class="text-secondary" id="fechaVenta"></div>
                </div>

                <!-- Encabezado -->
                <div class="d-flex fw-bold border-bottom pb-2 mb-2 mt-4" style="border-bottom:1px dotted #ccc;">
                    <div style="flex:2">Producto</div>
                    <div style="flex:1">Cantidad</div>
                    <div style="flex:1">Total</div>
                </div>

                <!-- Contenedor de productos -->
                <div id="tablaDetalle"></div>

            </div>
            <div class="modal-footer d-flex justify-content-between">
                <span class="fw-bold">Total de la compra</span>
                <span class="fw-bold text-success">$ <span id="totalVenta"></span></span>
            </div>

        </div>
    </div>

</div>

@section scripts{
    <script>
        let tablaCompras;
        // Inicializar DataTable
        tablaCompras = new DataTable('#tablaCompras', {
            responsive: true,
            ordering: false,
            ajax: {
                url: '@Url.Action("ListarMisCompras", "Tienda")',
                type: "GET",
                dataType: "json"
            },
            columns: [
                { data: 'id_transaccion' },
                { data: 'total_productos' },
                {
                    data: 'monto_total',
                    render: function(data){
                        return "$ " + data;
                    }
                },
                {
                    data: 'fecha_registro',
                    render: function(data){
                        let fecha = new Date(data);
                        return fecha.toLocaleString('es-AR', {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric',
                            hour: '2-digit',
                            minute: '2-digit',
                            hour12: false
                        });
                    }
                },
                {
                data: null,
                render: function(data){

                            let fecha = new Date(data.fecha_registro).toLocaleString('es-AR', {
                                day: '2-digit',
                                month: '2-digit',
                                year: 'numeric',
                                hour: '2-digit',
                                minute: '2-digit',
                                hour12: false
                            });

                    return `
                        <button class="btn btn-outline-dark btn-sm verDetalle"
                            data-id="${data.id}"
                            data-transaccion="${data.id_transaccion}"
                            data-total="${data.monto_total}"
                            data-fecha="${fecha}">
                            <i class="bi bi-eye"></i> Detalle
                        </button>
                    `;
                }
        }
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/2.3.6/i18n/es-ES.json"
            }
        });

        // Evento para abrir el detalle
        $("#tablaCompras tbody").on("click", ".verDetalle", function () {

            let idVenta = $(this).data("id");
            let transaccion = $(this).data("transaccion");
            let total = $(this).data("total");
            let fecha = $(this).data("fecha");

            //Mostramos info de la venta en el modal
            $("#idVenta").text("N° de venta: #" + idVenta);
            $("#transaccionVenta").text(transaccion);
            $("#modalDetalle #totalVenta").text(total);
            $("#fechaVenta").text(fecha);


            $.get("/Tienda/ObtenerDetalleVenta?idVenta=" + idVenta, function (response) {

                $("#tablaDetalle").html("");

                response.data.forEach(function (item) {

                    $("#tablaDetalle").append(`
                        <div class="d-flex border-bottom py-2 text-secondary" style="border-bottom:1px dotted #ccc;">
                            <div style="flex:2">${item.oProducto.nombre}</div>
                            <div style="flex:1">x ${item.cantidad}</div>
                            <div style="flex:1">$ ${item.total}</div>
                        </div>
                    `);

                });

                new bootstrap.Modal(document.getElementById("modalDetalle")).show();

            });

        });
	</script>
}